<div class="container">
    <mat-card>
        <mat-card-title>Contact</mat-card-title>
        <mat-card-content>
            <div class="contact-form">
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input required [(ngModel)]="name" name="name" matInput placeholder="put a name">
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input required [(ngModel)]="email" name="email" type="email" placeholder="put a email" matInput>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>Message:</mat-label>
                    <textarea [(ngModel)]="message" name="message" matInput placeholder="Message"></textarea>
                  </mat-form-field>

                  <button mat-raised-button (click)="sendForm()" color="primary">Send</button>

            </div>
        </mat-card-content>
      </mat-card>
</div>